# General
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.trae/

# Python (Backend)
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/
backend/.env
backend/data.db
backend/uploads/
backend/documents.json

# Node/Frontend
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules
dist
dist-ssr
coverage
*.local
*.tsbuildinfo

# Cypress
/frontend/cypress/videos/
/frontend/cypress/screenshots/
dist-electron
release
doctmanage/public/mathjax/
*.syso
